html, body {
    background: #3498db;
}

.hide {
    display:none;
}

.message-container {
    
    background: #ecf0f1;
}

#message-list{
    margin:0;
    padding: 0;
}

#message-list li {
    list-style: none;
}

#message-list li p {
    display: inline-block;
    background: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
}